<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acememo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.acememo.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Continue_TO"
            android:screenOrientation="portrait"></activity>
        <activity android:name="FacebookLogin"
            android:screenOrientation="portrait"></activity>
        <activity android:name="Level_One"
            android:screenOrientation="portrait"></activity>
        <activity android:name="Game_Level"
            android:screenOrientation="portrait"></activity>
        <activity android:name="Level_Two"
            android:screenOrientation="portrait"></activity>
        <activity android:name="Level_Three"
            android:screenOrientation="portrait"></activity>
        <activity android:name="New_Level"
            android:screenOrientation="portrait"></activity>
        <activity android:name="Result"
            android:screenOrientation="portrait"></activity>
                <activity android:name="reviewAnswer"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
